* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* ===========NAVBAR =============*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;

}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 50px;
    width: auto;
}

.logo p {
    color: #f9faf8;
    font-size: 24px;
}

.links-nb a {
    margin-left: 20px;
    text-decoration: none;
    color: #f9faf8;
}

.links-nb a:hover {
    text-decoration: underline;
}

/* =========== main =============*/
.deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-side .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-side .desc-text {
    font-size: 24px;
    color: #f9faf8;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.sale-title {
    font-size: 24px;
    color: #f9faf8;
}

.sale-desc {
    font-size: 18px;
    color: #e5e7eb;
}

.order-button {
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border: none;
}

.sale-product {
    margin: 10px;
}

.sale-product img {
    max-width: 150px;
    max-height: 250px;
}

.product-section {
    margin: 30px;
}

.product-section h2 {
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.product img {
    height: 250px;
    margin-bottom: 10px;
}

.product-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.product-desc p {
    margin-bottom: 5px;
}

.promotion-section {
    padding: 20px;
    margin: 30px;
    background-color: #e5e7eb;
    border-radius: 25px;
    text-align: center;
    width: auto;
}

.accessories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.accessories img {
    height: 150px;
    margin: 20px;
}

/* ===========footer =============*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1f2937;
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; */
    position: absolute;
    bottom: auto;
    width: 100%;
}

footer>div.logo {
    margin: 0;
}

footer>div.logo>a>img {
    height: 30px;
    width: auto;
}

.footer-logo-txt {
    font-size: 15px;
}

.links-f {
    min-width: 200px;

    margin-left: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.links-f a {
    text-decoration: none;
    color: #f9faf8;
    font-size: small;
}

.links-f a:hover {
    text-decoration: underline;
}

.copyRight>p {
    /* margin-left: 50px; */
    color: #f9faf8;
    font-size: 10px;
    margin-top: 10px;
}