body{
    min-height: 100vh;
}

p{
    font-size: 18px;
}

button{
    border-radius: 10px;
    border: 0;

    color:white;
    background-color: #3882f6;
}

/* Main Section Rules */
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.first-section,.second-section{
    min-width: 100%;

    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; */
}

/* First Section Rules */
section.first-section{
    color: #f9faf8;
    background-color: #1F2937;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

div.cover-pictures-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

img.left-picture{
    max-height: 250px;
}

img.right-picture{
    max-height: 200px;
}

img.middle-picture{
    max-height: 500px;
}

/* Second Section Rules */
section.second-section{
    padding-top: 50px;
    padding-bottom: 50px;

    /* min-height: 400px; */
    background-color: #ffffff;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

div.special-deal-container{
    max-width: 50%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */

    border-radius: 20px;
    background-color: #e5e7eb;
}

aside{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

strong{
    font-size: 5em;
    text-align: center;
}

aside > p{
    font-size: 2em;
    font-weight: bold;

    text-align: center;
}

button.deal-button{
    margin-top: 20px;

    min-width: 150px;
    height: 40px;

    font-size: 16px;
}

img.special-deal-img{
    max-width: 40%;
}

/* Third Section Rules */
section.third-section{
    max-width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

section.third-section > *{
    margin-bottom: 20px;
}

div.item-lists-container{
    max-width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

div.item-container{
    margin: 10px;

    width: 250px;
    height: 350px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    background-color: #e5e7eb;
}

img.item-img{
    max-height: 50%;
    max-width: auto;

    padding-top: 10%;
}

div.item-name-container{
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    border-radius: 0 0 20px 20px;
    background-color: #1F2937;
}

p.item-name-txt{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

button.order-button{
    width: 50%;
    height: 40px;

    font-size: 16px;
}

/* Fourth Section */
section.fourth-section{
    min-width: 100%;
    min-height: 20vh;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    background-color: #e5e7eb;
}

img.side-fill-img{
    width: 26%;
    height: 20vh;
    object-fit: cover;
}

.phone-promo-container{
    height: 15vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.phone-promo-container > p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

button.phone-page-btn{
    min-width: 30%;
    min-height: 50px;

    font-size: 24px;
}


