/* ===========Hero =============*/
.hero {
    display: flex;
    background-color: #1f2937;
    padding: 100px 0 50px 0;
    flex-wrap: wrap;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 70px;
}

.aboutUs .heading-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.aboutUs .par-1 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
    padding-top: 30px;
    width: auto;
}
.aboutUs .storePic img{
    width: auto;
    height: 300px;
    margin-top: 20px;

}

.offer {
    display: flex;
    align-items: stretch;
    flex: 1 1 0%;
    flex-wrap: wrap;
    justify-content: center;
}

.offer .text {
    flex-direction: column;
    align-items: center;
}
.offer .text .discount{
    font-size: 80px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: center;
}

.heading-2 {
    font-size: 30px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: center;
    padding: 10px;
}

.specs {
    font-size: 16px;
    font-weight: lighter;
    color: #f9faf8;
}

.iphImage {
    margin-top: -50px;
}

.iphImage img {
    width: auto;
    height: 500px;
    margin-left: 50px;
    margin-top: 0;
}

.order-button {
    margin-top: 40px;
    display: inline-block;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
}

.order-button:hover {
    background-color: #0062cc;
}

/* ===========Main Products=============*/
.bestSell {
    width: 100%;
    height: auto;
}

.bestSell p {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    color: #1f2937;
}

.bestSellPict {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.bestSellPict img {
    width: auto;
    height: 250px;
}

.bestSellPict figure {
    text-align: center;
}

.bestSellPict figcaption {
    margin-top: 10px;
}

/* ===========Main Quote=============*/
.main-Q {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: auto;
    height: auto;
}

.main-Q p {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 20px;
}

.quote {
    background-color: #e5e7eb;
    width: 700px;
    text-align: center;
    border-radius: 10px;
}

.quote blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote blockquote cite {
    font-weight: bold;
    font-size: 26px;
}